/.vs
bin/Debug/Eventify.exe
/obj
/packages
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/System.ValueTuple.dll
bin/Debug/System.ValueTuple.xml
bin/Debug/System.Threading.Tasks.Extensions.dll
bin/Debug/System.Text.Json.xml
bin/Debug/System.Text.Json.dll
bin/Debug/System.Text.Encodings.Web.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Numerics.Vectors.xml
